*~
.#*
.git
*#

# os x stuff
*Thumbs.db*
*.DS_Store

# Build artifacts
build
out
mongo*.jar
target

# Eclipse files
.classpath
.project
.settings

# Intellij IDEA files
*.ipr
*.iws
*.iml
*.idea
workspace.xml
atlassian-ide-plugin.xml

# gradle
.gradle

# code review
codereview.rc

# local settings
**/gradle.properties
.java-version

# doc settings
docs/reference/public
docs/landing/public
docs/hugo*

c-conn
